@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    String Username = Convert.ToString(@HttpContextAccessor.HttpContext.Session.GetString("Username"));
}
<div class="row">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <input type="text" disabled="disabled" class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li style="padding:20px">
                <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">Welcome 
                    <label class="label label-info detail-header navbarUserName">@Username</label></span>
            </li>
            <li style="margin-left: -7%;">
                <a href="@Url.Action("Login", "Account")">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>

        </ul>
    </nav>
</div>