@model IEnumerable<MySqlBasicCore.Models.Bol_1_ViewModel>
@{
    ViewBag.Title = "Home Page";
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox " id="ibox1">
                <div class="ibox-title">
                    <h3>Import BOL Notes</h3>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-fading-circle" style="height:50px;width:50px">
                        <div class="sk-circle1 sk-circle"></div>
                        <div class="sk-circle2 sk-circle"></div>
                        <div class="sk-circle3 sk-circle"></div>
                        <div class="sk-circle4 sk-circle"></div>
                        <div class="sk-circle5 sk-circle"></div>
                        <div class="sk-circle6 sk-circle"></div>
                        <div class="sk-circle7 sk-circle"></div>
                        <div class="sk-circle8 sk-circle"></div>
                        <div class="sk-circle9 sk-circle"></div>
                        <div class="sk-circle10 sk-circle"></div>
                        <div class="sk-circle11 sk-circle"></div>
                        <div class="sk-circle12 sk-circle"></div>
                    </div>

                    <form method="post" asp-action="Import_BOL_Notes" enctype="multipart/form-data">

                        <div class="row form-group">
                            <div class="col-lg-2">
                                <label class="col-form-label">Import BOL Notes</label>
                            </div>
                            <div class="col-md-5">

                                <input type="file" name="file" id="fileControl" class="form-control" placeholder="Select File" />
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary btn-sm" onclick="return openLoader()" type="submit">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />
    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
    </environment>

    <script type="text/javascript">

        $(document).ready(function () {
            var checkIported = "@ViewBag.imported";
               if (checkIported=="1") {
                swal("Data imported successfully", "", "success")
            }

        });

          function openLoader() {
            if (document.getElementById("fileControl").files.length == 0) {
                swal("Please select file", "", "error");
                return false;
            }
            else {
                $('#ibox1').children('.ibox-content').toggleClass('sk-loading');
              return true;
            }

        }
        

    </script>
}